<template>

    <h1>Decouvrez les recettes</h1>

    <form @submit.prevent="handleSubmit()">
        <div>
            <label>
                Nom :
                <input class="form-control" v-model="Marecette.title" type="text" placeholder="ajouter une recette" required>
            </label>
        </div>
        <div>
            <label>
                image :
                <input class="form-control" v-model="Marecette.image" type="text" placeholder=" mettre une image">
            </label>
        </div>
        <div>
            <label>
                title :
                <input class="form-control" v-model="Marecette.title" type="text" placeholder="definis le titre">
            </label>
        </div>


        <div>
            <label>
                date :
                <input class="form-control" v-model="Marecette.Date" type="date" placeholder="definis la date">
            </label>
        </div>


        <button class="btn btn-primary">Submit</button>
    </form>

    <!-- <div v-if="dog.id">
        <p>The dog has been added. <RouterLink :to="'/dog/'+dog.id">See the dog</RouterLink></p>
    </div> -->
</template>

<script setup lang="ts">
import { postMarecette,fetchMarecette } from '@/Marecette-service';
import type { Marecette } from '@/entities';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const Marecette = ref<Marecette>({
    title:'',
    contenu:'',
    Date:'',
    image:'',
});

async function handleSubmit() {
    const added = await postMarecette(Marecette.value);
    //dog.value = await postDog(dog.value); //Si on veut faire le feedback sans redirection
    router.push("/Marecette/"+added.id);
}



    





</script>
