<script setup lang="ts">
import LesRecettescard from '@/components/LesRecettescard.vue';
import Marecettelist from '@/components/Marecettelist.vue';

import type { Marecette } from '@/entities';
import { fetchMarecette } from '@/Marecette-service';
import { onMounted, ref } from 'vue';


const MarecetteList = ref<Marecette[]>([]);

const loading = ref(true);


onMounted(async () => {
  MarecetteList.value = await fetchMarecette();
  loading.value = false;
});

async function MarecetteDeleted(Marecette:Marecette) {
  // await deleteMarecette(Marecette.id);
  MarecetteList.value = MarecetteList.value.filter(item => item.id != Marecette.id);
  // dogList.value = await fetchAllDogs();
}


</script>

<template>
  
  <div v-if="loading">Loading...</div>
  <div v-if="!loading">
    <<div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
    
      <div class="col" v-for="item of MarecetteList">
        <!-- <Marecettelist :Marecette="item" /> -->
        <LesRecettescard :Marecette="item" @delete="MarecetteDeleted($event)" />
      </div>
      </div>
    </div>

</template>
<style scoped >
</style>
