<template>
  
    <div v-if="loading">Loading...</div>
    <div v-if="!loading && Marecette">
        <p>{{ Marecette.contenu }}</p>
        <p>{{ Marecette.title }}</p>
        <p>{{ Marecette.image }}</p>
        <p>{{ Marecette.Date }}</p>
       
    </div>
</template>

<script setup lang="ts">
import { fetchOneMarecette } from '@/Marecette-service';
import type { Marecette } from '@/entities';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';



const route = useRoute();
const Marecette = ref<Marecette>();

const loading = ref(true);


onMounted(async () => {
  Marecette.value = await fetchOneMarecette(route.params.id);
  loading.value = false;
});

</script>
