<template>
  
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">buongiorno !!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
       

        <li class="nav-item" @click="navOpen = false">
                            <RouterLink class="nav-link" active-class="active" aria-current="page" to="/">Recette italienne</RouterLink>
                        </li>
                        <li class="nav-item" @click="navOpen = false">
                            <RouterLink class="nav-link" active-class="active" aria-current="page" :to="{name:'addMarecette'}">ajouter</RouterLink>
                        </li>



      
          
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        
        
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"></button>
      </form>
    </div>
  </div>
</nav>

</template>




<script setup lang="ts">
import { ref } from 'vue';
import { RouterLink } from 'vue-router';


const navOpen = ref(false);



</script>