<template>
    
 <div class="card" style="width: 30em ;">
        <div class="card-body" style="background-color: bisque;" >
            <img :src="Marecette.image" class="card-img-top" alt="..." style="height: 20em;">
            
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ Marecette.title }}</h6>
            <p class="card-text">Born on {{ Marecette.Date }}</p>
            <RouterLink :to="'/Marecette/' + Marecette.id" class="card-link">va voir</RouterLink>
           

            <button class="btn btn-danger" @click="handleDelete()">Delete</button>
            <!-- Version alternative pour faire un lien vers une route paramétrée -->
            <!-- <RouterLink :to="{name: 'single-dog', params:{id:dog.id}}" class="card-link">Card link</RouterLink> -->

            <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</template>

<script setup lang="ts">
import type { Marecette } from '@/entities';
import { RouterLink } from 'vue-router';

const {Marecette} = defineProps<{
    Marecette: Marecette
}>();

const emit = defineEmits(['delete']);

async function handleDelete() {
    emit('delete', Marecette);
}


</script>
