<template>





<h1> Decouvrez les recettes</h1>






</template>

<script setup lang="ts">
import type { Marecette } from '@/entities';
import { fetchMarecette } from '@/Marecette-service';
import { onMounted, ref } from 'vue';

const Marecette = ref<Marecette[]>([]);
console.log(fetchMarecette());


onMounted(async () => {
    Marecette.value = await fetchMarecette();
});




</script>
