<template>
   
   <form @submit.prevent="handleSubmit()">
        <div>
            <label>
                La recette :
                <input class="form-control" v-model="Marecette.contenu" type="text" placeholder="le nom recette" required>
            </label>
        </div>
        <div>
            <label>
                titre :
                <input class="form-control" v-model="Marecette.title" type="text" placeholder=" le titre">
            </label>
        </div>
        <div>
            <label>
                jour :
                <input class="form-control" v-model="Marecette.Date" type="text" placeholder="la consommation">
            </label>
        </div>

        <div>
            <label>
                jour :
                <input class="form-control" v-model="Marecette.image" type="id" placeholder="la consommation">
            </label>
        </div>
        
        
        <button class="btn btn-primary">Submit</button>
    </form>

    <!-- <div v-if="dog.id">
        <p>The dog has been added. <RouterLink :to="'/dog/'+dog.id">See the dog</RouterLink></p>
    </div> -->
</template>

<script setup lang="ts">

import type { Marecette } from '@/entities';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { fetchMarecette,postMarecette } from '@/Marecette-service';
const router = useRouter();


const Marecette = ref<Marecette>({
    contenu:'',
    title:'',
    image:'',
    Date:'',
});
// Object.assign(dog.value, initialDog)

async function handleSubmit() {
    const added = await postMarecette (Marecette.value)
    fetchMarecette();
}


